extends layout

block content
  div(class="mx-auto max-w-2xl py-20 sm:py-40 lg:py-48")
    h1(class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl text-center") #{title}
    p(class="mt-4 text-xl text-gray-500") Welcome to #[em #{title}], a very basic Inventory website developed with expressJS, mongoDB, PUG and tailwindCSS.
    h1(class="my-4 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl text-center") The Inventory has the following record counts
    ul 
      li(class=" text-xl text-blue-500") #[a(href="/catalog/categories") Categories:] #{categoriesCount}
      li(class=" text-xl text-blue-500") #[a(href="/catalog/items") Items:] #{itemsCount}
